<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="testdb" connectionString="Data Source=10.0.0.21;Initial Catalog=;Persist Security Info=True;User ID=;Password=" />
    <add name="localhost" connectionString="Data Source=PREC-PAULS;Initial Catalog=testdb;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="ColumnEnumTemplateFile" value="ColumnEnumTemplate.txt" />
    <add key="TableListFile" value="TableList.txt" />
    <add key="DTOTemplateFile" value="DTOTemplate.txt"></add>    
    <add key="TableNameTemplateFile" value="TableNamesTemplate.txt" />
    <add key="ExcludePropertiesFile" value="ExcludeProperties.txt"/>
  </appSettings>
</configuration>